*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: 900px) {
    font-size: 58%;
  }
  @media only screen and (max-width: 800px) {
    font-size: 56%;
  }
  @media only screen and (max-width: 600px) {
    font-size: 55%;
  }
  @media only screen and (max-width: 400px) {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: $dark-blue;
}

.container {
  max-width: 140rem;
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
}

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

.btn{
  &:link, &:visited{
    transition: $transition;
    display: inline-block;
    padding: 1.5rem 5rem;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1rem;
    border-radius: 1rem;
  }
  &:hover{
    filter: brightness(1.2);
  }
}
.btn-red{
  background-color: $dark-red;
}
.btn-blue{
  background-color: $dark-blue;
}
.close-menu{
  &:link, &:visited{
    text-align: center;
    padding: 2rem 0 0;
    display: block;
    color: $dark-blue;
  }
  .menu-icon-close{
    display: inline-block;
    height: 2.5rem;
    filter: invert(29%) sepia(55%) saturate(268%) hue-rotate(177deg) brightness(93%) contrast(89%);
  }
}
.border{
  height: 2px;
  width: 100%;
  background-color: $light-blue;
  margin: 2rem 0;
}