.light{
  color: $white !important;
}

.mb-2{
  margin-bottom: 2rem;
}

.bold{
  font-weight: bold !important;
}

.big{
  font-size: 2.2rem !important;
  font-weight: 500 !important;
}
.high{
  line-height: 3rem !important;
}