.form-input{
height: 4rem;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1.3rem;
  border: 1px dotted $light-blue;
}

.form-textarea{
  padding-top: 1rem;
  font-size: 1.3rem;
  font-family:$default-font-family;
}

.btn-submit{
  transition: $transition;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 6rem;
  color: $white;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  cursor: pointer;
  &:hover{
    filter: brightness(1.2);
  }
}
.btn-blue{
  transition: $transition;
  display: block;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: $dark-blue;
  border: none;
  margin: 2rem auto;
  cursor: pointer;
}
.form-agreement{
    .form-checkbox{
      display: none;
    }
  .form-checkbox:checked + .label-checkbox:before{
    background-color: $light-blue;
    border: none;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-size: .8rem;
    line-height: 1.6rem;
    text-align: center;
    display: inline-block;
    font-weight: 900;
    color: $white;
  }
  .label-checkbox{
    padding-left: 2.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
    &:before{
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1.6rem;
      width: 1.6rem;
      border: 1px solid $dark-blue;
      border-radius: 3px;

    }
    a:link, a:visited, a:hover{
      color: $light-blue;
      text-decoration: underline;
    }
  }
}